# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
* How to create a Jupyter Notebook
* How to work with Markdown
* The syntax of Markdown
* Working with cells and expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Scikit-learn
3. Matplotlib

| Data Science Tools |
| ------ |
| Apache Spark |
| Visual Studio |
| Tableu |

### Below are a few examples of evaluating arithmetic expressions in Python

In [26]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [30]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Kevin Flores